* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
    --main-color: lightgrey;
    --cell-size: 100px;
}

.menu {
    display: none;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .9);
    color: white;
    font-size: 1rem;
}

.menu button {
    width: 200px;
    height: 50px;
    background-color: white;
    border: 1px solid black;
}

.menu button:hover {
    color: white;
    font-weight: bold;
    font-size:large;
    background-color: black;
    border: 1px solid white;
}

.show {
    display: flex;
}

.content {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, var(--cell-size));
    justify-content: center;
    align-content: center;
}

.cell {
    border: 1px solid black;
    width: var(--cell-size);
    height: var(--cell-size);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
}


.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(1),
.cell:nth-child(4),
.cell:nth-child(7) {
    border-left: none;
}

.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9) {
    border-right: none;
}

.cell:last-child,
.cell:nth-child(7),
.cell:nth-child(8) {
    border-bottom: none;
}

#gameMessage {
    font-size: 5rem;
}